
<%- include partial/header.ejs %>
<!-- #END# Page Loader -->
<%- include partial/navbar.ejs %>
<!-- #Top Bar -->
<%- include partial/sidebar.ejs %>

<section class="content">
 
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Create word</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" word-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <% if (errors.length > 0) { %>
                        <div class="alert alert-danger">
                            <% for (error of errors) { %>
                                <%= error %><br>
                            <% } %>
                        </div>
                    <% } %>
                    
                    <div class="body">
                        <form id="form_validation" action="/words/create" method="POST">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="character" required>
                                            <label class="form-label">Japan character</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                            
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="kanji">
                                            <label class="form-label">Kanji</label>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-sm-6">
                            
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="meaningsMongolia" required>
                                            <label class="form-label">Meanings Mongolia</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                            
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="meanings" required>
                                            <label class="form-label">Meanings English</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                             
                                    <div class="form-group form-float">
                                        <select class="form-control show-tick" name="partOfSpeech">
                                            <option value="">Part of speech</option>
                                            <option value="nouns">Nouns</option>
                                            <option value="pronouns">Pronouns</option>
                                            <option value="na-adjectives">Na-adjectives</option>
                                            <option value="verbs">Verbs</option>
                                            <option value="i-adjectives">I-adjectives</option>
                                            <option value="particles">Particles</option>
                                            <option value="adverbs">Adverbs</option>
                                            <option value="conjuctions">Conjuctions</option>
                                            <option value="interjections">Interjections</option>
                                        </select>
                                    </div>
                                </div>    
                                
                                <div class="col-sm-6">
                            
                                    <div class="form-group form-float">
                                         <select class="form-control show-tick" name="level">
                                            <option value="">Level</option>
                                            <option value="jlpt5">N5</option>
                                            <option value="jlpt4">N4</option>
                                            <option value="jlpt3">N3</option>
                                            <option value="jlpt2">N2</option>
                                            <option value="jlpt1">N1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary waves-effect" type="submit">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<%- include partial/footer.ejs %>